In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.cluster import KMeans
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler
from pandas_profiling import ProfileReport

In [2]:
data=pd.read_csv('data/donors.csv')

C:\Users\Utilizador\anaconda3\envs\DMProject\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (9,412) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data_backup=data.copy()

In [4]:
data=data_backup.copy()

In [5]:
sample=data.sample(frac=0.01)

In [6]:
profile = ProfileReport(
    data, 
    title='Tugas Customer Data',
    correlations={
        "pearson": {"calculate": True},
        "spearman": {"calculate": False},
        "kendall": {"calculate": False},
        "phi_k": {"calculate": False},
        "cramers": {"calculate": False},
    },minimal=True
)



profile.to_file(os.path.join('.', "donor_data.html"))

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=486.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [11]:
features_to_delete = [
    'OSOURCE', # Does not contain information pertaining to the Donor's characteristics
    'TCODE', # Title does not contain information
    'MAILCODE', # Does not help characterize a donor
    'PVASTATE', # Does not add information because we can calculate it using STATE, and most values are empty
    'NOEXCH', # Could not analyze, and does not contain pertinent information
    'RECPGVG', # Not pertinent
    'RECSWEEP', # Not pertinent
    'CHILD03', 'CHILD07', 'CHILD12', 'CHILD18', # Values are mostly empty, and don't give much info
    'GEOCODE', # Not pertinent
    'HPHONE_D', 
    'CONTROLN'
    
]
data.drop(features_to_delete, axis=1)

,Unnamed: 0,ODATEDW,STATE,ZIP,DOB,RECINHSE,RECP3,MDMAUD,DOMAIN,HOMEOWNR,...,NEXTDATE,TIMELAG,AVGGIFT,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,0,2009-01-01,IL,61081,1957-12-01,,,XXXX,T2,,...,2010-03-01,4.0,7.741935,L,4,E,X,X,X,C
1,1,2014-01-01,CA,91326,1972-02-01,,,XXXX,S1,H,...,2015-04-01,18.0,15.666667,L,2,G,X,X,X,A
2,2,2010-01-01,NC,27017,NaN,,,XXXX,R2,U,...,2011-01-01,12.0,7.481481,L,4,E,X,X,X,C
3,3,2007-01-01,CA,95953,1948-01-01,,,XXXX,R2,U,...,2007-11-01,9.0,6.812500,L,4,E,X,X,X,C
4,4,2006-01-01,FL,33176,1940-01-01,X,X,XXXX,S2,H,...,2000-05-01,14.0,6.864865,L,2,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,95407,2016-01-01,AK,99504,NaN,,,XXXX,C2,,...,NaN,NaN,25.000000,L,1,G,X,X,X,C
95408,95408,2016-01-01,TX,77379,1970-01-01,,,XXXX,C1,H,...,NaN,NaN,20.000000,L,1,F,X,X,X,A
95409,95409,2015-01-01,MI,48910,1958-01-01,,X,XXXX,C3,,...,2015-01-01,3.0,8.285714,L,3,E,X,X,X,B
95410,95410,2006-01-01,CA,91320,1960-05-01,X,,XXXX,C1,H,...,2007-04-01,4.0,12.146341,L,4,F,X,X,X,A
95411,95411,2008-01-01,NC,28409,1938-01-01,X,,C1CM,C1,U,...,2008-09-01,6.0,96.794872,L,1,G,C,1,C,C

In [1]:
print('Jupytext2')

Jupytext2